:root {
    --float-bgr:          hsl( 228, 50%, 50% );
    --float-brand-bgr:    hsl( 210, 50%, 20% );
    --float-brand-fgr:    hsl( 180, 99%, 59% );
    --float-brand-fgr-2:  hsl( 190, 80%, 50% );
    --float-link-bgr-2:   hsl( 215, 20%, 68% );
    --float-link-bgr:     hsl( 220, 30%, 58% );
    --float-link-fgr:     hsl( 210, 21%, 10% );
    --float-input-bgr:    hsl(   0,  8%, 78% );
    --float-input-fgr:    hsl(   0,  8%, 10% );
    --float-button-bgr:   hsl( 250, 35%, 28% );
    --float-button-bgr-2: hsl( 235, 34%, 25% );
    --float-button-fgr:   hsl( 240,  5%, 75% );
}
.float-page {
    display: flex;
    flex-direction: column;
}
nav.float {
    font-family: 'DM Sans';
    font-size: 1.29rem;
    min-height: 5.5rem;
    background-color: var( --float-bgr );
    display: flex;
    justify-content: space-between;
}
.float ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
}
.float li {
    margin-right: 0.6vw;
    height: 52%;
}
.float a {
    text-decoration: none;
    background-color: var( --float-link-bgr );
    color: var( --float-link-fgr );
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    border-radius: 0.5rem;
}
.float-brand > a {
    background-color: var( --float-brand-bgr );
    color: var( --float-brand-fgr );
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding-left: 4vw;
    padding-right: 1vw;
    border: 2px solid var( --float-brand-fgr );
    margin-right: 0.08rem;
}
.float-brand > a:hover {
    background-color: var( --float-brand-bgr );
    color: var( --float-brand-fgr-2 );
}
nav.float > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.float form {
    height: 100%;
    display: flex;
    align-items: center;
}
.float input {
    background-color: var( --float-input-bgr );
    padding-left: 1rem;
    border-radius: 0.6rem;
    margin-right: 1vw;
    max-width: 23vw;
}
.float input::placeholder {
    color: var( --float-input-fgr );
    font-style: italic;
    letter-spacing: 0.1rem;
}
.float button {
    margin-left: 1.0vw;
    margin-right: 2.0vw;
    padding: 1.2vw 1vw 1.2vw 1.4vw;
    font-family: 'Roboto';
    font-size: 1.2rem;
    letter-spacing: 0.29vw;
    border-radius: 0.4rem;
    background-color: var( --float-button-bgr );
    color: var( --float-button-fgr );
}
.float button:hover {
    background-color: var( --float-button-bgr-2 );
}
div.body {
    min-height: 20%;
    background-color: hsl( 235, 60%, 20% );
    color: hsl( 260, 60%, 50% );
    letter-spacing: 1rem;
    font-size: 1.7rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
div.body > span {
    color: orange;
}
@media screen and ( max-width: 600px ){
    .float ul {
        flex-direction: column;
        align-items: start;
        padding-left: 0;
        width: 100%;
    }
    .float li {
        margin-bottom: 1px;
        width: 100%;
    }
    .float a {
        padding-left: 2rem;
        border-radius: 0;
        width: 100%;
        justify-content: start;
    }
    .float {
        flex-direction: column;
    }
    .float input {
        max-width: 50vw;
    }
    .float form {
        flex-direction: column;
        align-items: start;
        padding-left: 2rem;
        padding-top: 1.2rem;
    }
    .float button {
        padding: 1rem 2rem;
        margin: 1.2rem 0 1.2rem 0;
    }
    .float-page > div.body {
	height: 8vw;
    }
}
