:root {
    --folder-bgr: hsl( 15, 10%, 60% );
}
.folder {
}
.folder > a {
}
.folder > nav {
    min-height: 8rem;
    background-color: var( --folder-bgr );
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr 3fr 6fr;
    grid-template-columns: auto repeat( 7, auto ) 40%;
}
.folder > nav > a.folder-brand {
    max-width: 8rem;
    position: relative;
    font-size: 400%;
    font-weight: 700;
    color: hsl( 10, 60%, 90% );
    left: 0px;
    top: 0px;
    grid-row: 1/-1;
    grid-column: 1;
    z-index: 4;
    border: 1px solid white;
    margin: 1rem;
    border-radius: 1rem;
    -webkit-text-stroke: 6px red;
    padding-bottom: 10px;
}
.folder-base {
    grid-row: 4;
    grid-column: 1/-1;
    background: hsl( 210, 10%, 10% );
    z-index: 0;
}
.folder > nav > a.folder-1 {
    background: blue;
    grid-row: 3;
    grid-column: 2/4;
    z-index: 2;
    color: red;
}
.folder > nav > a {
    text-decoration: none;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.9rem monospace;
    border-radius: 10px 10px 0 0;
}
.folder-2 {
    background: #00a;
    grid-row: 2/4;
    grid-column: 3/6;
    z-index: 1;
}
.folder-3 {
    background: #00a;
    grid-row: 3;
    grid-column: 7/9;
}
/***********************************************
 * gestalt                                 shape
 * bestehen                                exist
 * hebung                                   rise
 * rechteck                            rectangle
 * haupt                                    head
 **********************************************/
.folder form {
    grid-column: 9;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.folder form > input {
    background: #800;
}
.folder form > input::placeholder {
    color: #fb0;
}
.folder form > button {
    margin-left: 10px;
}
@media screen and ( max-width: 600px ){
    .folder > nav {
	display: flex;
	flex-direction: column;
	justify-contnet: center;
    }
    .folder > nav > a.folder-brand {
    }
}
