.folder {
    height: 24vh;
    background-color: #522;
}
.folder > nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr 3fr 5fr;
    grid-template-columns: 10% repeat( 7, auto ) 50%;
}
.folder > nav > a.folder-1 {
    background: blue;
    grid-row: 3;
    grid-column: 2/4;
    z-index: 2;
    color: red;
}
.folder > nav > a {
    text-decoration: none;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.9rem monospace;
    border-radius: 10px 10px 0 0;
}
.folder-2 {
    background: #00a;
    grid-row: 2/4;
    grid-column: 3/6;
    z-index: 1;
}
.folder-3 {
    background: #00a;
    grid-row: 3;
    grid-column: 7/9;
}
.folder-base {
    grid-row: 4;
    grid-column: 1/-1;
    background: blue;
    z-index: 0;
}
/***********************************************
 * gestalt                                 shape
 * bestehen                                exist
 * hebung                                   rise
 * rechteck                            rectangle
 * haupt                                    head
 **********************************************/
@media screen and ( max-width: 600px ){
    .folder > nav {
	display: flex;
	flex-direction: column;
    }
}
