/***************************************************************/
:root {
    --alt-nav-height: 10rem;
    --alt-body-bgr: hsl( 300, 40%, 20% );
    --alt-srch-con-width: 11.5rem;
    --alt-brand-con-bgr: hsl( 20, 20%, 80% );
    --alt-brand-svg-bgr: hsl( 350, 50%, 20% );
    --alt-srch-con-bgr: hsl( 300, 18%, 60% );
    --alt-duration: 10s;
    --alt-laser-from: 100%;
    --alt-laser-to:   0%;
    --indicator-duration: 1s;
    --aura-duration: 1s;
}
/***************************************************************/
a {
    color: inherit;
}
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
.alt-con {
}
/***************************************************************/
.alt-nav {
    height: var( --alt-nav-height );
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: var( --alt-nav-height )
                           auto
                           var( --alt-srch-con-width );
}
/***************************************************************/
/***************************************************************/
.alt-brand-con {
    background: var( --alt-brand-con-bgr );
}
/***************************************************************/
/***************************************************************/
.alt-brand-con > svg {
    background: var( --alt-brand-svg-bgr );
}
/***************************************************************/
/* ###### [ l i n k s ] ###################################### */
.alt-links-con {
    display: grid;
    grid-template-columns: repeat( 16, 1fr );
    grid-template-rows: repeat( 8, 1fr );
    position: relative;
}
/* ########################################################### */
/***************************************************************/
.alt-background {
    grid-row: 1/-1;
    grid-column: 1/-1;
    background: hsl(10,50%,20%);
}
/* ########################################################### */
/***************************************************************/
.alt-link-hook {
    grid-row: 4;
    grid-column: 2;
    position: relative;
}
.alt-link-stack {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.alt-link {
    color: hsl(10,50%,20%);
    background: hsl(12,90%,8%);
    font-family: "Michroma", serif;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.4rem;
    transform: skew( -20deg );
    z-index: 2;
    position: relative;
}
/* =============================================================
 * ##########################################################
 * ##[ Indicator Container ]#################################
 * ########################################################## */
.alt-indicator-con {
    position: absolute; /* alt-link */
    bottom: -0.7rem;
    right: 0rem;
}
.alt-indicator {
    position: absolute; /* alt-indicator-con */
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: skew( 20deg );
    z-index: 2;
    background: hsl(12,90%,8%);
}
.alt-indicator.aura {
    opacity: 0;
    width: 16px;
    height: 16px;
    background: hsl(0,100%,20%);
    z-index: 1;
}
/***************************************************************/
/* ####[ Indicator Animation ]################################ */
@keyframes forward_indicator_animation { /******* forward ******/
    0% {
        background: hsl(12,90%,8%);
    }
    100% {
        background: red;
    }
}
.forward_indicator_animation {
    animation: forward_indicator_animation
               var(--indicator-duration ) 1;
}
@keyframes backward_indicator_animation { /***** backward ******/
    0% {
        background: red;
    }
    100% {
        background: hsl(12,90%,8%);
    }
}
.backward_indicator_animation {
    animation: backward_indicator_animation
               var( --indicator-duration ) 1;
}
/***************************************************************/
/* ####[ Aura Animation ]################################ */
@keyframes forward_aura_animation { /******* forward ******/
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.forward_aura_animation {
    animation: forward_aura_animation
               var(--aura-duration ) 1;
}
@keyframes backward_aura_animation { /***** backward ******/
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.backward_aura_animation {
    animation: backward_aura_animation
               var( --aura-duration ) 1;
}
/***************************************************************
################################################################
 ***************************************************************
 * L A S E R
 **************************************************************/
.alt-laser {
    height: 100%;
    width: 4px;
    background: red;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1;
    margin-left: -4px;
}
.altscan { /* a n i m a t i o n */
    animation-name: altscan;
    animation-duration: var( --alt-duration );
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes altscan {
    0% {   left: var( --alt-laser-from ); }
    50% {    left: var( --alt-laser-to ); }
    100% { left: var( --alt-laser-from ); }
}
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
.alt-srch-con {
    background: var( --alt-srch-con-bgr );
}
/***************************************************************/
.alt-srch-input {
    height: calc( .29 * var( --alt-nav-height ));
    width: calc( .7 * var( --alt-srch-con-width ));
    font-size: 1.2rem;
    padding-left: 1rem;
    background: black;
    color: red;
    border-radius: 10rem 10rem 10rem 4rem;
}
/***************************************************************/
.alt-srch-button {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 1000;
    color: var( --alt-brand-con-bgr );
    right: 1rem;
    opacity: .65;
}
/***************************************************************/
/***************************************************************/
@media( max-width: 600px ){
    .alt-nav {
        grid-template-columns: 100%;
        grid-template-rows: 200px 300px 100px;
        height: auto;
    }
}
/***************************************************************/
/***************************************************************/
