/**************************************************************/
:root {
  --body-bgr: hsl( 250, 10%, 5% );
  --body-fgr: hsl( 0, 0%, 100% );
}
/**************************************************************/
html {
    height: 100%;
}
/**************************************************************/
html, body {
  margin: 0;
  padding: 0;
}
/**************************************************************/
* {
  box-sizing: border-box;
}
/**************************************************************/
body {
  background: var( --body-bgr );
  color: var( --body-fgr );
}
/**************************************************************/
input {
  margin: 0;
  padding: 0;
  border: none;
}
/**************************************************************/
a {
    text-decoration: none;
    color: inherit;
}
/**************************************************************/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/**************************************************************/
.dub-con {
    height: 5.7rem;
    background: hsl( 229, 75%, 40% );
    display: grid;
    grid-template-columns: 12% 2% repeat( 4, 9% ) 25% repeat( 4, 4% ) auto;
    grid-template-rows: 20% auto 10% 5% 15%;
}
/**************************************************************/
.dub-brand {
    grid-column: 1;
    grid-row: 1/-1;
    color: hsl( 290, 50%, 40% );
    background: hsl( 280, 60%, 20% );
}
/**************************************************************/
.dub-link {
    color: hsl( 210, 10%, 60% );
    background: hsl( 260, 50%, 10% );
}
/**************************************************************/
.dub-deck {
    grid-column: 3;
    grid-row: 2;
}
/***************************************************************
 **************************************************************/
.dub-underline {
    background: hsl( 210, 40%, 35% );
}
/**************************************************************/
.dub-deck-underline {
    grid-column: 3;
    grid-row: 4;
}
/***************************************************************
 **************************************************************/
.dub-search {
    background: hsl( 320, 50%, 5% );
    grid-column: 7;
    grid-row: 1/-1;
}
/**************************************************************
 **************************************************************/
.dub-menu {
    background: hsl( 15, 20%, 30% );
    color: hsl( 30, 30%, 15% );
    font-size: 1.5rem;
}
/**************************************************************/
.dub-menu-R {
    grid-column: 9;
    grid-row: 2;
}
/**************************************************************
 **************************************************************/
.dub-sign {
    background: hsl( 0, 50%, 10% );
    color: hsl( 40, 90%, 30% );
    grid-column: 12;
    grid-row: 1/-1;
}
/**************************************************************/
/**************************************************************
 (1) きむらさんは　パーテイーに　行きます。
     やまぐちさんも　パーテイーに　いきます。
 **************************************************************/
@media( max-width: 600px ){
}
/***************************************************************
 * log:
 **************************************************************/
