/**************************************************************/
:root {
  --body-bgr: hsl( 250, 10%, 5% );
  --body-fgr: hsl( 0, 0%, 100% );
}
/**************************************************************/
html {
    height: 100%;
}
/**************************************************************/
html, body {
  margin: 0;
  padding: 0;
}
/**************************************************************/
* {
  box-sizing: border-box;
}
/**************************************************************/
body {
  background: var( --body-bgr );
  color: var( --body-fgr );
}
/**************************************************************/
input {
  margin: 0;
  padding: 0;
  border: none;
}
/**************************************************************/
a {
    text-decoration: none;
    color: inherit;
}
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/***************************************************************
 **************************************************************/
/***************************************************************
 **************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************
 (1) きむらさんは　パーテイーに　行きます。
     やまぐちさんも　パーテイーに　いきます。
 **************************************************************/
@media( max-width: 600px ){
}
/***************************************************************
 * log:
 **************************************************************/
