/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
:root {
  --body-bgr: hsl( 230, 100%, 12% );
  --body-fgr: hsl( 0, 0%, 100% );
  
  --dropdown-brand-con-bgr: hsl( 0, 0%, 20% );
  --dropdown-brand-con-size: 7.8rem;
  
  --dropdown-brand-size: 7.5rem;  
  --dropdown-brand-bgr: hsl( 0, 0%, 50% );
  --dropdown-brand-fgr: hsl( 0, 0%, 10% );
  --dropdown-brand-border: 1px solid var(--dropdown-brand-con-bgr);

  --dropdown-brand-grad-1:  hsla( 0, 0%, 40%, .50 ) 10%;
  --dropdown-brand-grad-2:  hsla( 0, 0%, 15%, .70 ) 50%;

  --dropdown-color: hsl( 280, 10%, 50% );

  --dropdown-dh: 1.67rem; /* dropdown-frame cell height */
  --drop: 0.5rem;
  --minus-min: calc( var( --dropdown-dh ) + var( --drop ));
  --plus-min:  calc( var( --minus-min ) + var( --drop ));
  --minus-max: calc( 3 * var( --dropdown-dh ));
  --plus-mid:  calc( var( --minus-max ) + var( --drop ));
 }
html {
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
}
* {
    box-sizing: border-box;
}
body {
  background: var( --body-bgr );
  color: var( --body-fgr );
}
input {
  margin: 0;
  padding: 0;
  border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* ////////////////////////////////////////////////////////// */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ##########################################################
   ########################################################## */
.dropdown-con {
    display: grid;
    grid-template-columns: var(--dropdown-brand-con-size) auto;
    grid-template-rows: var(--dropdown-brand-con-size) 4rem;
}
/* ////////////////////////////////////////////////////////// */
/* // B / r / a / n / d ///////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
.dropdown-brand-con {
    grid-row: 1;
    grid-column: 1;
    background: var( --dropdown-brand-con-bgr );
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-brand {
    position: relative;
    width: var( --dropdown-brand-size );
    height: var( --dropdown-brand-size );
    background: var( --dropdown-brand-bgr );
    display: grid;
    grid-template-rows: repeat( 3, 1fr );
    grid-template-columns: repeat( 3, 1fr );
    font-size: calc( var( --dropdown-brand-size ) / 7 );
    color: var( --dropdown-brand-fgr );
}
.dropdown-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: var( --dropdown-brand-border );
    border-bottom: var( --dropdown-brand-border );
}
.dropdown-ryte {
    border-right: none;
}
.dropdown-bot {
    border-bottom: none;
}
.dropdown-gradient {
    position: absolute;
    top: 0;
    width: var( --dropdown-brand-size );
    height: var( --dropdown-brand-size ); 
    background: radial-gradient( 
        var( --dropdown-brand-grad-1 ),
        var( --dropdown-brand-grad-2 )
    );
}
/* =[ S e a r c h i n g ]==================================== */
.dropdown-search-con {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.6rem;
}
.dropdown-search {
    height: 2rem;
    width: 60%;
    padding-left: 1rem;
    background: none;
    border: 1px solid var( --dropdown-color );
    border-radius: 1rem;
    color: var( --dropdown-color );
}
.dropdown-search::placeholder {
    color: var( --dropdown-color );
}
.dropdown-search-button {
    width: 20%;
    height: 2rem;
    color: var( --dropdown-color );
    background: none;
    padding-left: 0.8rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.dropdown-body {
    grid-row: 2;
    grid-column: 1/-1;
    color: hsl( 10, 20%, 40% );
    background: hsl( 250, 80%, 22% );
    display: flex;
    align-items: center;
    font-family: "Dancing Script";
    padding-left: 1.2rem;
    padding-bottom: .5rem;
    font-size: 1.8rem;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.dropdown-links-con {
    grid-row: 1;
    grid-column: 2;
    background: hsl( 250, 90%, 20% );
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-template-rows: repeat( 4, 1fr );
}
/* ---------------------------------------------------------- */
.dropdown-item-1 {
    grid-row: 1/-1;
    grid-column:1;
}
/* __________________________________________________________ */
.dropdown-item-2 {
    grid-row: 1/3;
    grid-column: 2;
}
/* `````````````````````````````````````````````````````````` */
.dropdown-item-3 {
    grid-row: 3/-1;
    grid-column: 2/4;
}
/* ========================================================== */
.dropdown-item-4 {
    grid-column: 4/-1;
    grid-row: 1/-1;
    position: relative;
}
/* ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
   ''''f'''''''''''''''f'''''''''''''''''''''''''''''''''''''
   ''''f'''''''''''''''f'''''''''''''''''''''''''''''''''''''
   ''fff'fff'fff'fff'fff'fff'f'f'f'fff'''''''''''''''''''''''
   ''f f'f  'f f'f f'f f'f f'f'f'f'f f'''''''''''''''''''''''
   ''fff'f'''fff'fff'fff'fff'fffff'f'f'''''''''''''''''''''''
   ''   ' '''   'f  '   '   '     ' ' '''''''''''''''''''''''
   ''''''''''''''f'''''''''''''''''''''''''''''''''''''''''''
   '''''''''''''' ''''''''''''''''''''''''''''''''''''''''''' */
.dropdown-hook {
    grid-row: 2;
    grid-column: 5;
    position: relative;
}
.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 10rem;
    grid-template-columns: 74% auto;
    grid-template-rows: repeat( 2, var( --dropdown-dh ))
                        repeat( 4, auto );
}
.dropdown-frame {
    grid-row: 1/3;
    grid-column: 1/-1;
    border: 1px solid var( --dropdown-color );
    border-radius: 1rem;
}
.dropdown-menu-frame {
    border: 1px solid var( --dropdown-color );
    border-radius: 0 0 1rem 1rem;
    border-top: none;
}
.dropdown-menu-frame.minus {
    grid-row: 2/5;
    grid-column: 1/-1;
    height: var( --minus-min );
}
.dropdown-menu-frame.plus {
    grid-row: 2/7;
    grid-column: 1/-1;
    height: var( --plus-min );
}
.dropdown-link {
    grid-row: 1/3;
    grid-column: 1;
    font-family: "Orbitron", serif;
    color: hsl( 24, 100%, 20% );
    justify-content: end;
}
.dropdown-anime {
    grid-row: 1/3;
    grid-column: 2;
    justify-content: start;
    color: hsl( 24, 100%, 25% );
}
/* %%%%%%( Animation )%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@keyframes clockwise {
    0% {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( 90deg );
    }
}
.clockwise {
    animation: clockwise 0.5s linear 1;
}
@keyframes anticlockwise {
    0% {
        transform: rotate( 90deg );
    }
    100% {
        transform: rotate( 0deg );
    }
}
.anticlockwise {
    animation: anticlockwise 0.5s linear 1;
}
@keyframes plus_min_to_mid {
    0% {
        height: var( --plus-min );
    }
    100% {
        height: var( --plus-mid );
    }
}
.plus_min_to_mid {
    animation: plus_min_to_mid 0.8s linear 1;
}
@keyframes minus_min_to_max {
    0% {
        height: var( --minus-min );
    }
    100% {
        height: var( --minus-max );
    }
}
.minus_min_to_max {
    animation: minus_min_to_max 0.8s linear 1;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media( max-width: 600px ){
    .dropdown-con {
        grid-template-columns: 100%;
        grid-template-rows: var(--dropdown-brand-con-size)
                            16rem 4rem;
    }
    .dropdown-brand-con {
        justify-content: end;
        padding-right: 0.1rem;
    }
    .dropdown-search-con {
        align-items: end;
        padding-bottom: 1rem;
        padding-right: 0.2rem;
    }
    .dropdown-body {
        grid-row: 3;
        grid-column: 1;
    }
    .dropdown-links-con {
        grid-row: 2;
        grid-column: 1;
        grid-template-columns: repeat( 4, 1fr );
        grid-template-rows: repeat( 12, 1fr );
    }
    .dropdown-item-1 {
        grid-row:1/-1;
        grid-column: 1;
    }
    .dropdown-item-2 {
        grid-row: 1/4;
        grid-column: 2;
    }
    .dropdown-item-3 {
        grid-row: 1/4;
        grid-column: 3/-1;
    }
    .dropdown-item-4 {
        grid-row: 4/-1;
        grid-column: 2/-1;
    }
    .dropdown-hook {
        grid-row: 3;
        grid-column: 2;
    }
}
/***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 ***************************************************************
 **************************************************************/
/* log: Before about a year or something there was some news
 * about a girl at age of 10 or something that had committed
 * suicide being bullied at school. So why people behave
 * arrogantly? Keep it in mind that the cool kids are not the
 * only examples here there are many other famous bullies out
 * there not to mention the Hollywood Stars and victims being
 * not only children but also transgenders countries not to
 * mention rabbits, etc. I think this is an inadequate behavior
 * from people that are put by society or by classmates or by
 * others in a position they don't deserve or they don't belong
 * to so being afraid of not looking stupid or awkward they
 * overreact by being arrogant thinking we are high in the
 * hierarchy so let's keep the distance and it's sad boring and
 * pathetic. The only way to handle greatness is to be great
 * there is no other way */
/**************************************************************/
