/* **********************************************************
   *********[ root ]*****************************************
   ********************************************************** */
a {
    color:                                            inherit;
}
/* ##########################################################   
   ###[ con ]################################################   
   ########################################################## */
.dub-con {
    height:                                             10rem;
    background:                          var( --dub-con-bgr );
    display:                                             grid;
    grid-template-columns:                     repeat(20,1fr);
    grid-template-rows:                         repeat(5,1fr);
}
/* ==========================================================
   ============[ brand-con ]=================================
   ========================================================== */
.dub-brand-con {
    grid-row:                                             1/4;
    grid-column:                                          1/5;
    background:                    var( --dub-brand-con-bgr );
    z-index:                                                2;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   %%%%%%%%%%%%%%%%%%%[ links-con ]%%%%%%%%%%%%%%%%%%%%%%%%%%
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.dub-links-con {
    background:                    var( --dub-links-con-bgr );
    grid-row:                                             1/4;
    grid-column:                                         4/10;
    display:                                             grid;
    grid-template-columns:
                    1.2rem 1fr 0.6rem 1.5fr 0.6rem 1fr 0.8rem;
    grid-template-rows:                       20% 30% 30% 20%;
}
/* //////////////////////////////////////////////////////////
   ////////////[ link ]//////////////////////////////////////
   ////////////////////////////////////////////////////////// */
.dub-link {
    background:                        var( --dub-links-bgr );
    z-index:                                                3;
    border-radius:                                       1rem;
}
/* ``````````````````````````````````````````````````````````
   ````````````[ deck ]``````````````````````````````````````
   `````````````````````````````````````````````````````````` */
.dub-deck {
    grid-row:                                             2/4;
    grid-column:                                            2;
}
/* ==========================================================
   ============================[ lnk ]=======================
   ========================================================== */
.lnk {
    font-family:                      "Grechen Fuemen", serif;
    font-weight:                                          600;
    font-size:                                           7rem;
    paint-order:                                       stroke;
    fill:                            var( --dub-links-color );
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~[ config ]~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.dub-config {
    grid-row:                                             2/4;
    grid-column:                                            4;
}
/* __________________________________________________________
   ____________________[ app ]_______________________________
   __________________________________________________________ */
.dub-app {
    grid-row:                                             2/4;
    grid-column:                                            6;
}
/* ==========================================================
   ===========[ gradient ]===================================
   ========================================================== */
.dub-gradient {
    background: linear-gradient(
        to right,
        var( --dub-grad-20  ) 20%,
        var( --dub-grad-40  ) 20% 40%,
        var( --dub-grad-60  ) 40% 60%,
        var( --dub-grad-80  ) 60% 80%,
        var( --dub-grad-100 ) 80%
    );
    grid-row:                                             1/4;
    grid-column:                                        10/-1;
}
/* **********************************************************   
   **********************************************************   
   ##########################################################   
   //////////////////////////////////////////////////////////   
   ########################################################## */
@media( max-width: 600px ){
    .dub-con {
        height:                                         100vh;
        grid-template-columns:                 repeat(10,1fr);
        grid-template-rows:                    repeat(10,1fr);
    }
    .dub-brand-con {
        grid-row:                                         1/5;
        grid-column:                                     1/-1;
    }
    .dub-links-con {
        grid-row:                                         4/7;
        grid-column:                                     1/-1;
        grid-template-columns:                 0.6rem 1fr 40%;
        grid-template-rows:              repeat(3, 4% 28%) 4%;
    }
    .dub-deck {
        grid-row:                                           2;
        grid-column:                                        2;
    }
    .dub-config {
        grid-row:                                           4;
        grid-column:                                        2;
    }
    .dub-app {
        grid-row:                                           6;
        grid-column:                                        2;
    }
    .dub-gradient {
        background: linear-gradient(
            to bottom,
            var( --dub-grad-20  ) 20%,
            var( --dub-grad-40  ) 20% 40%,
            var( --dub-grad-60  ) 40% 60%,
            var( --dub-grad-80  ) 60% 80%,
            var( --dub-grad-100 ) 80%
        );
        grid-row:                                        7/-1;
        grid-column:                                     1/-1;
    }
}
/* **********************************************************
   log: 4x + 3y = 4*4 + 3*28
   ********************************************************** */
